* {
  margin: 0;
}

.app {
  background-color: #111;
}

/* html {
  background-image: url("./images/background_login.jpg");
} */

.signup {
  background-image: url("./images/background2.jpg");
  background-size: cover;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

.login {
  background-image: url("./images/backgroundImage.jpg");
  background-size: cover;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
}

.logSign_Logo {
  height: 150px;
}
