* {
  margin: 0;
}

.app {
  background-color: #111;
}

html {
  background-image: url("./images/background_login.jpg");
}

.loginSignup {
  background-image: url("./images/background_login.jpg");
}

/* .login {
  background-image: url("./images/backgroundImage.jpg");
} */
