.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding-bottom: 20px;
  height: 20px;

  display: flex;
  justify-content: space-between;
  background-color: #111;
}

.NavLogo {
  position: fixed;
  left: 20px;
  width: 135px;
  object-fit: contain;
}

.NavUser {
  position: fixed;
  right: 200px;
  width: 40px;
  object-fit: contain;
  color: white;
}

.profileLogo {
  position: fixed;
  left: 140px;
  width: 40px;
  object-fit: contain;
}
